theme = "purehugo"
baseurl = "https://boinkor.net/"
languageCode = "en-us"
title = "Andreas Fuchs' Journal"


[params]
  twitterName = "antifuchs"
  githubName = "antifuchs"
  google_analytics = "UA-20002026-1"
