theme = "purehugo"
baseurl = "https://boinkor.net/"
languageCode = "en-us"
title = "Andreas Fuchs' Journal"

metaDataFormat = "yaml"
newContentEditor = "/usr/local/bin/emacsclient"

[author]
  name = "Andreas Fuchs"
  email = "asf@boinkor.net"

# Backwards-compatible URLs:
uglyUrls = true
[permalinks]
  post = "/:year/:month/:slug/"

[params]
  twitterName = "antifuchs"
  githubName = "antifuchs"
  google_analytics = "UA-20002026-1"

[blackfriday]
  plainIDAnchors = true
