# Reference: https://www.netlify.com/docs/netlify-toml-reference/

[build]
publish = "public"

[build.processing]
skip_processing = true

[build.environment]
HUGO_ENV = "production"
# This must match the version we get from nixpkgs:
GO_VERSION = "1.20"
HUGO_VERSION = "0.115.4"
HUGO_BIN = "hugo"

[context.production]
command = "hugo -b $URL --minify"

[context.production.environment]
# env vars for production only

[context.deploy-preview]
command = "hugo -b $DEPLOY_PRIME_URL --minify"

[context.deploy-preview.environment]
# env vars for pull reqs

[context.branch-deploy]

[context.branch-deploy.environment]
# env vars for branch deploys
