[build]
publish = "public"

[context.production.environment]
HUGO_VERSION = "0.52"
command = "make build"
HUGO_ENV = "production"

[context.branch-deploy]
HUGO_VERSION = "0.52"
command = "make build_test"
HUGO_ENV = "production"
