# Reference: https://www.netlify.com/docs/netlify-toml-reference/

[build]
publish = "public"
command = "make build"

[build.environment]
HUGO_ENV = "production"
# This must match the version we get from nixpkgs:
HUGO_VERSION = "0.81.0"
HUGO_BIN = "hugo"

[context.production]
[context.production.environment]
# env vars for production only

[context.deploy-preview]
command = "make build BASE_URL=$DEPLOY_PRIME_URL"

[context.deploy-preview.environment]
# env vars for pull reqs

[context.branch-deploy]
command = "make build BASE_URL=$DEPLOY_PRIME_URL"

[context.branch-deploy.environment]
# env vars for branch deploys