[build]
publish = "public"
command = "make build"

[build.environment]
HUGO_ENV = "production"
HUGO_VERSION = "0.52"

[context.production]
[context.production.environment]
# env vars for production only

[context.deploy-preview]
[context.deploy-preview.environment]
# env vars for pull reqs

[context.branch-deploy]
[context.branch-deploy.environment]
# env vars for branch deploys