# Reference: https://www.netlify.com/docs/netlify-toml-reference/

[build]
publish = "public"

[build.environment]
HUGO_ENV = "production"
# This must match the version we get from nixpkgs:
HUGO_VERSION = "0.115.4"
HUGO_BIN = "hugo"

[context.production]
[context.production.environment]
# env vars for production only

[context.deploy-preview]

[context.deploy-preview.environment]
# env vars for pull reqs

[context.branch-deploy]

[context.branch-deploy.environment]
# env vars for branch deploys
