<div class="sidebar pure-u-1 pure-u-md-1-4">
  <div class="header">
    <hgroup>
      <h1 class="brand-title"><a href="/">{{ .Site.Title }}</a></h1>
      <h2 class="brand-tagline">{{ with .Site.Params.description }} {{.}} {{end}}</h2>
    </hgroup>

    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="pure-button" href="/"><i class="fa fa-home"></i>&nbsp;Home</a>
        </li>
        <li class="nav-item">
          <a class="pure-button" href="/about/"><i class="fa fa-info-circle"></i>&nbsp;About</a>
        </li>
        <li class="nav-item">
          <a class="pure-button" href="/hacks/"><i class="fa fa-home"></i>&nbsp;Hacks</a>
        </li>
        {{ with .Site.Params.twitterName }}
        <li class="nav-item">
          <a class="pure-button" href="https://twitter.com/{{ . }}"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>
        </li>
        {{ end }}
        {{ with .Site.Params.githubName }}
        <li class="nav-item">
          <a class="pure-button" href="https://github.com/{{ . }} "><i class="fa fa-github-alt"></i>&nbsp;GitHub</a>
        </li>
        {{ end }}
        <li class="nav-item">
          <a class="pure-button" href="/index.xml"><i class="fa fa-rss"></i>&nbsp;Feed</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
