### Spelling errors in blog posts (heh)

RedirectPermanent /archives/2011/09/basic-lisp-technique-for-sale-on-amazon.html http://boinkor.net/archives/2011/09/basic-lisp-techniques-for-sale-on-amazon.html


### Redirects for stuff (crawl errors, etc):

# TODO: come up with a useful page for this:
RedirectPermanent /ns/clhs-semantics/ http://boinkor.net/archives/2010/09/visualizing_the_clhs_interlink.html

# Moved to github:
RedirectPermanent /qs/QSSSHPlugin https://github.com/antifuchs/QSSSHPlugin
RedirectPermanent /qs/QSSSHPlugin.git git://github.com/antifuchs/QSSSHPlugin.git

RedirectPermanent /weblog http://boinkor.net/


### Files that are gone permanently

Redirect gone /pix
Redirect gone /lisp/eclm2005
